.connexion {
    color: white; 
    
}

.connexion_form {
    width: 50%; ; 
    margin: auto; 
    padding : 3rem 0rem; 
}

.connexion_form_fieldset {
    display: flex; 
    flex-direction: column; 
}

.connexion_form_legend {
    font-size: 4rem; 
}

.connexion_form_label {
    font-size: 2rem; 
}

.connexion_form_input {
    // background-color: white; 
    padding-bottom: 1rem; 
    border-radius: 10px; 
    text-align: match-parent; 
    font-size: 1.8rem; 
    background: rgb(255,255,255);
    background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(110,110,110,0.5) 100%, rgba(0,0,0,1) 100%);
   
}

.connexion_form_submit {
    margin-top: 2rem; 
    font-size: 1.5rem; 
    padding-top: 0.2rem; 
    width: 30%; 
    height: 4rem; 
    // background-color: white; 
    border-radius: 10px; 
    align-self: flex-end; 
    background: rgb(255,255,255);
    background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(110,110,110,0.5) 100%, rgba(0,0,0,1) 100%);
}