.input-error {
  border: 2px solid rgb(158, 5, 5); /* Définit une bordure de 2 pixels de couleur rouge */
  animation: shake 0.3s; /*Définit une animation nommée "shake" avec une durée de 0.3 secondes */
}

/* @keyframes est une règle CSS qui permet de définir les étapes d'une animation */
@keyframes shake {
  0% { /*Début de l'animation*/
    transform: translateX(0); /* Déplace l'élément horizontalement de 0 pixels */
  }
  25% {
    transform: translateX(-5px); /* Déplace l'élément horizontalement de -5 pixels */
  }
  50% {
    transform: translateX(5px); /* Déplace l'élément horizontalement de 5 pixels */
  }
  75% {
    transform: translateX(-5px); /* Déplace l'élément horizontalement de -5 pixels */
  }
  100% { /*fin de l'animation */
    transform: translateX(0); /* Déplace l'élément horizontalement de 0 pixels */
  }
}

/* Définit les styles pour les éléments de classe ".backOffice_form" lorsque la largeur de l'écran est inférieure à 500 pixels */
@media only screen and (max-width: 500px) {
  .backOffice_form {
    width: 90%; /* Définit la largeur de l'élément à 90% de la largeur de son conteneur */
    margin: auto; /* Centre l'élément horizontalement */
    display: flex; /* Définit l'affichage de l'élément en mode flex */
    flex-direction: column; /* Définit la direction des éléments enfants en colonne */

    & input { /* Définit les styles pour les éléments input enfants directs de ".backOffice_form" */
      background-color: white;
    }
  }
  
  fieldset {
    display: flex;
    flex-direction: column;
    margin-top: 1.5rem;
  }

  legend {
    font-size: 2.5rem;
  }

  select {
    margin-bottom: 0.8rem;
  }

  option {
    border-radius: 10px;
  }

  .validButtonBack {
    width: 13rem;
    height: 3rem;
    font-weight: bolder;
    padding-top: 0.4rem;
    background: rgb(255, 255, 255);
    background: linear-gradient(
      90deg,
      rgba(255, 255, 255, 1) 0%,
      rgba(110, 110, 110, 0.5) 100%,
      rgba(0, 0, 0, 1) 100%
    );
    align-self: flex-end;
    border-radius: 10px;
    margin-top: 0.5rem;
  }
}

@media only screen and (min-width: 501px) {
  .backOffice_form {
    width: 50%;
    margin: auto;
    display: flex;
    flex-direction: column;

    & input {
      background-color: white;
    }
  }

  fieldset {
    display: flex;
    flex-direction: column;
    margin-top: 1.5rem;
  }

  legend {
    font-size: 2.5rem;
  }

  select {
    margin-bottom: 0.8rem;
  }

  option {
    border-radius: 10px;
  }

  .validButtonBack {
    width: 13rem;
    height: 3rem;
    font-weight: bolder;
    padding-top: 0.4rem;
    background: rgb(255, 255, 255);
    background: linear-gradient(
      90deg,
      rgba(255, 255, 255, 1) 0%,
      rgba(110, 110, 110, 0.5) 100%,
      rgba(0, 0, 0, 1) 100%
    );
    align-self: flex-end;
    border-radius: 10px;
    margin-top: 0.5rem;
  }
}

.fieldset input {
  background-color: rgb(238, 241, 243);
}
