.legalNotice {
  text-align: center;
  width: 60%;
  margin: auto;
}

.legalNotice_titre {
  font-size: 5rem;
  margin-top: 2rem;
}

.legalNotice_text {
  border: 1px solid white;
  padding: 1.5rem;
}

.legalNotice_text_p {
  font-size: 1.5rem;
  text-align: center;
  margin-bottom: 2rem;
}
