.Toastify__toast {
  border-radius: 4px; // Bord arrondi pour la pop-up
  color: #fff; // Couleur du texte
  font-family: Arial, sans-serif; // Police de caractères
  font-size: 14px; // Taille de police
}

.Toastify {
  position: fixed;
}

.contact_form_input.shake {
  animation: shake 0.3s;
  border: 1px solid rgb(158, 5, 5);
}

.contact_form_input.shake::placeholder {
  color: rgb(158, 5, 5);
}

.contact {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
}

.contact_title {
  text-align: center; // Centrer le texte
  margin-bottom: 4rem; // Ajouter une marge en bas
}


.contact_sections {
  width: 80%;
  margin:auto;
  display: flex;
  justify-content: space-evenly;
  gap:4rem;
}


.contact_adress {
  margin-left:0;
  display: flex;
  flex-direction: column;
  // align-items: flex-start; // Aligne les éléments enfants le long de leur bord supérieur
  // justify-content: center;  
}

.li-logo {
  display: flex;
  align-items: center; // Centre les éléments enfants verticalement
  gap: 0.2rem; // Ajoute un espace entre les éléments enfants
  text-align: center;
 }

/* Animation de secousse */
@keyframes shake {
  0% { transform: translateX(0); }
  25% { transform: translateX(-5px); }
  50% { transform: translateX(5px); }
  75% { transform: translateX(-3px); }
  100% { transform: translateX(0); }
}

@media only screen and (max-width: 768px) {
  .contact {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
  }

  .contact_adress {
    margin-left:0;
    display: flex;
    flex-direction: column;
    // align-items: flex-start; // Aligne les éléments enfants le long de leur bord supérieur
    // justify-content: center;
    width: 90%; // Utilise toute la largeur disponible
    max-width: 800px; // Limite la largeur maximale   
  }

  .contact_map {
    margin-top: 1rem;
    margin-bottom: 1rem;
    width:90%;
    max-width: 800px;
  }

  .google_map {
    width: 80vw;
    margin: auto;
  }

  .contact_form {
    display: flex;
    flex-direction: column;
    margin-bottom: 2rem;
    width:90%;
    max-width:800px;
  }

  .contact_form_input {
    width: 90%;
    max-width: 800px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    margin-bottom: 0.3rem;
    background: rgb(255, 255, 255);
    background: linear-gradient(
      90deg,
      rgba(255, 255, 255, 1) 0%,
      rgba(110, 110, 110, 0.5) 100%,
      rgba(0, 0, 0, 1) 100%
    );
  }

  .Toastify__toast-container {
    bottom: 1rem; // Réduire la marge inférieure pour placer la pop-up plus haut sur l'écran
    left: 50%; // Centrage horizontal
    transform: translateX(-50%);
  }

  .contact_sections {
    width: 80%;
    margin:auto;
    display: flex;
    flex-direction: column;
    align-items: center; // Centre les éléments enfants horizontalement
    gap: 0; // Supprime l'espace entre les colonnes en version mobile
  }

  .contact_title {
    margin-bottom: 1rem; // Réduire la marge inférieure du h1
    margin-top: 1rem;
  }

  .validButton {
    width: auto; // Ajuste la largeur du bouton à son contenu
    margin-top: 1rem;
  }
}

@media only screen and (min-width: 769px) {
  .contact {
    font-size: 1.5rem;
    display: flex;
    justify-content: space-evenly;
    padding: 2rem;
    min-height: 70vh;
  }

  .contact_map {
    color: black;
  }

  .contact_form_input {
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    margin-bottom: 5px;
    background: rgb(255, 255, 255);
    background: linear-gradient(
      90deg,
      rgba(255, 255, 255, 1) 0%,
      rgba(110, 110, 110, 0.5) 100%,
      rgba(0, 0, 0, 1) 100%
    );
  }

  .validButton {
    width: 10rem;
    height: 3rem;
    font-weight: bolder;
    padding-top: 0.4rem;
    background: rgb(255, 255, 255);
    background: linear-gradient(
      90deg,
      rgba(255, 255, 255, 1) 0%,
      rgba(110, 110, 110, 0.5) 100%,
      rgba(0, 0, 0, 1) 100%
    );
  }

  .custom-info-window {
    color: black;
    background-color: white;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }

  .success-message {
    font-size: 1rem;
  }

  .error-message {
    font-size: 1rem;
  }

  .Toastify__toast-container {
    bottom: 2rem; // Positionnement au bas de la page
    left: 50%; // Centrage horizontal
    transform: translateX(-50%);
    }

  .tab {
    padding-left: 0.2rem;
  }
}