@use 'sass:color';
@use 'src/styles/_variables';

.header_nav {
  border-top: 1px solid rgb(85, 80, 80);
  border-bottom: 1px solid rgb(85, 80, 80);

  &_ul {
    display: flex;
    justify-content: space-around;
    padding-top: 1rem;
    padding-bottom: 1rem;
    align-items: center;
  }
}

.navLink:active {
  color: goldenrod;
  transition-duration: 0.2s;
}

.navLink {
  color: inherit;
}

@media only screen and (max-width: 800px) {
  .header_nav {
    font-size: 1.2rem;
    
    &_ul {
      flex-direction: column;
    }
  }
}

@media only screen and (min-width: 801px) {
  .header_nav {
    font-size: 1.5rem;
  }
}